/* Estilos para la barra de contacto */
.barra-contacto {
  display: flex;
  justify-content: center;
  background-color: #c0bfbf; /* Gris claro */
  padding: 25px;
  border-radius: 10px;
  width: 90%; /* Disminuye el ancho (ajusta este porcentaje) */
  max-width: 1000px; /* Ancho máximo opcional */
  min-height: 200px;
  margin: 30px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-left: 250px;
}

.foto-contacto, .qr-contacto {
  flex: 0 0 220px; /* Ancho fijo para las imágenes */
  height: 160px;
  width: 400px;
  background-color: #e0e0e0; /* Fondo gris más oscuro para el espacio */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imagen-contacto, .imagen-qr {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.info-contacto {
  flex: 1;
  padding: 0 30px;
}

.info-contacto h3 {
  color: #0056a0; /* Azul de SERCOOML */
  margin: 10px 0 5px;
  font-size: 1.1rem;
}

.info-contacto p {
  color: #555;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.redes-sociales {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.redes-sociales img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.redes-sociales img:hover {
  transform: scale(1.1);
}

/* Responsividad */
@media (max-width: 768px) {
  .barra-contacto {
    flex-direction: column;
    padding: 20px;
  }
  
  .foto-contacto, .qr-contacto {
    margin-bottom: 20px;
    flex: 0 0 100px;
    height: 100px;
  }
  
  .info-contacto {
    padding: 0;
    text-align: center;
  }
  
  .redes-sociales {
    justify-content: center;
  }
}